@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Nunito:wght@400;700&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

:root {
    --background-color-: background-color: rgba(17, 25, 40, 0.75);
    --regularWhite: #ffffff;
    --onlineStatColor: #2c6e49;
    --onlineFontColor: #9ca3af;
    --busyStatColor: #ffc300;
    --offlineStatColor: #9e0059;
    --chatBtncolor: #2b9348;
    --black-: #000;
    --darkBlue-: #001d3d;
    --blue-: #1d3fbb;
    --header-font: 'Amatic SC', cursive;
    --fontWeight500-: 500;
    --fontWeight-: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style-type: none;
    /* transition: 1s; */
}

.one {
    font-family: 'Amatic SC', cursive;

}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.sess {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    transition: 1s;
    background-image: url(images/tree-736885_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    font-family: 'Amatic SC', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: .5rem;
    padding-inline: 1rem;
    color: #f5f3f4;
}

.follow {
    text-align: center;
    margin-top: 2rem;
}

.name {
    position: relative;
    transition: all 1s;
    font-weight: 700;
    cursor: pointer;
}

.name:hover {
    transform: scale(1.3);
    transform: rotate(-5deg);
}

.name:hover::after {
    content: "";
    background-color: #f5f3f4;
    height: 1px;
    width: 105px;
    display: block;
    animation-name: line;
    animation-duration: .5s;
    position: absolute;
    transform: 1s;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

@keyframes line {
    from {
        left: -100px;
    }

    to {
        left: 0px;
    }
}

.own {
    font-weight: 700;
}

.own a {
    color: #f5f3f4;
}

.own:hover {
    transform: scale(1.3);
    transform: rotate(-5deg);
}

.switching {
    display: flex;
    align-items: center;
}

label {
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.iconing {
    display: flex;
    align-items: center;
}

.iconing li{
    display: inline-block;
    margin-inline: .5rem;
}

.switch-clr {
    color: black;
    background: white;
}

:is(#twi, #envelope, #night) {
    transition: .4s;
    cursor: pointer;
}

:is(#twi, #envelope, #night):hover {
    transform: scale(1.5);
}

:is(.sess) h1 {
    font-size: 2em;
    font-weight: 700;
}

:is(.container, .sess) {
    height: 100vh;
    width: 100vw;
} 

.mid {
    height: 70%;
    width: 70%;
    margin-inline: auto;
}

.middle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    transform: scale(0);
}

.hit {
    font-size: 50px;
}

.sm {
    transform: scale(1);
}

:is(.socials) img:hover {
    transform: scale(1.5);
}

.btn {
    position: relative;
    display: inline-block;
    font-family: 'Amatic SC', cursive;
    padding: 1rem 2rem;
    color: white;
    background-color: transparent;
    border: 1px solid black;
    font-size: 2em;
    border-radius: 2px;
    cursor: pointer;
}

 .btn::after {
   position: absolute;
   content: "";
   width: 100%;
   height: 100%;
   left: 8px;
   top: 8px;
   border-radius: 2px;
   transition: all ease .4s;
   background-color: #212529;
   z-index: -1;
}

.btn:hover::after {
    top: 0;
    left: 0;
} 

/* fence */
.fence {
    font-family: 'Nunito', sans-serif;
    color: var(--regularWhite);
    width: 100%;
    height: 100%;
}

.fenceColor {
    color: var(--black-);
}

.container-box {
    width: max(55%, 350px);
    padding-block: 1.5rem;
    margin-top: 4rem;
    margin-inline: auto;
    border: 1px solid rgba(255, 255, 255, 0.125);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
}

.container-box_light {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.switch-wrap {
    display: flex;
    align-items: center;
    justify-content: end;
}

.check {
    display: none;
}

.toggler {
    position: relative;
}

.label-sign {
    font-size: 15px;
    margin-right: 7px;
}

.toggler::before {
    content: "";
    display: inline-block;
    height: 23px;
    width: 40px;
    border-radius: 20px;
    background-color: var(--regularWhite);
    cursor: pointer;
    transition: .6s;
}

.toggler::after {
    position: absolute;
    content: "";
    height: 12px;
    width: 18px;
    background-color: var(--darkBlue-);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    transform: rotateZ(-55deg);
    left: .28em;
    top: .55em;
    cursor: pointer;
    transition: .6s;
}

.check:checked + .toggler::after {
    transform: translateX(1.32em) rotateZ(58deg);
    top: .56em;
    transition: all ease .4s;
    background-color: var(--regularWhite);
}

.check:checked + .toggler::before {
    background-color: var(--darkBlue-);
    transition: .6s;
}

.top {
    padding-inline: 2rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9ca3af;
}

.contain {
    padding-inline: 2rem;
}

.profile-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #9ca3af;
}

.last {
    border-bottom: none;
}

.profile {
    display: flex;
    gap: 12px;
}

.profile img {
    border-radius: 50%;
    border: 3px solid #9ca3af;
}

.pro-name p:nth-child(1) {
     font-weight: var(--fontWeight-);
}

.pro-name p:nth-child(2) {
    /* font-weight: var(--fontWeight-); */
    color: var(--onlineFontColor);
}

:is(.available, .busy, .off)::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 7px;
}

.available::before {background-color: var(--chatBtncolor)}
.busy::before {background-color: var(--busyStatColor)}
.off::before {background-color: var(--offlineStatColor)}

.online-clr {
    color: red;
}

.bttn {
    font-family: 'Nunito', sans-serif;
    padding: 7px 12px;
    color: var(--regularWhite);
    font-weight: var(--fontWeight-);
    font-size: 17px;
    background-color: var(--chatBtncolor);
    border-radius: 7px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.bttn:hover {
    background-color: #42b415;
}

:is(.fa-paper-plane, .fa-message, .fa-eye, .fa-user) {
    font-size: 13px;
    margin-right: 8px;
}

.eyes {
    color: #3156d9;
    font-weight: 600;
    cursor: pointer;
}

/* profile */
.box-three {
    text-align: center;
}

.pro-pic {
    border: 1px solid #9ca3af;
    display: inline-block;
    border-radius: 50%;
    padding: 1rem;
}

.pro-pic img {
    border-radius: 50%;
    display: block;
}

.box-three h2 {
    padding-block: 1rem;
}

.follow-btn {
    background-color: var(--chatBtncolor);
    color: var(--regularWhite);
    font-weight: var(--fontWeight500-);
    font-size: 16px;
    padding: .5rem 1rem;
    border-radius: 10px;
}

.box-three p {
    margin-top: 1.5rem;
    line-height: 25px;
    width: 300px;
    margin-inline: auto;
}
/* profile done */

/* login */
.login {
    padding-inline: 2rem;
}

.log-p {
    margin-block: .5rem;
}

.login-form {
    margin-top: 2.2rem;
}

.chill {
    margin-bottom: .5rem;
}

:is(.mailing, .pass) {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 1.7rem;
}

:is(#mail, #password) {
   width:  max(200px, 60%);
   height: 40px;
   padding-left: 13px;
   border-radius: 0 5px 5px 0;
   border: none;
   background-color: #253247;
   border: 1px solid #9ca3af;
}

::placeholder {
    color: var(--onlineFontColor);
    font-size: 16px;
}

:is(.msg, .lock) {
    background-color: #253247;
    border: 1px solid #9ca3af;
    max-height: 100%;
    padding: .54em;
}

#checkybee {
    display: none;
}

.cb {
    width: 65%;
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.cb p, .acc  {
    color: var(--blue-);
    font-weight: var(--fontWeight-);
}

.checkybeee {
    position: relative;
}

.checkybeee::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /* background-color: #253247;; */
    border: 1px solid white;
}

.checkybeee::after {
    transform: scale(0) rotate(-50deg);
    content: "";
    background-image: url(icons/checked-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 18px;
    height: 18px;
}

#checkybee:checked + .checkybeee::after {
    transform: rotate(0deg) scale(1);
    transition: 1s;
}

.login-btn {
    border: 1px solid white;
}

.reg {
    display: flex;
    gap: .5rem;
    margin-top: 1.5rem;
}


@media screen and (max-width: 500px){
    :is(#mail, #password, .cb) {
        width: 100%;
    }


}

