@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Nunito:wght@400;700&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

:root {
    --background-color-: background-color: rgba(17, 25, 40, 0.75);
    --regularWhite: #ffffff;
    --onlineStatColor: #2c6e49;
    --onlineFontColor: #9ca3af;
    --busyStatColor: #ffc300;
    --offlineStatColor: #9e0059;
    --chatBtncolor: #52a103;
    /* --darkBlue-: #001d3d; */
    --darkBlue-: #001d3d;
    --blue-: #1d3fbb;
    --header-font: 'Amatic SC', cursive;
    --fontWeight500-: 500;
    --fontWeight-: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style-type: none;
    transition: 1s;
}

.one {
    font-family: 'Amatic SC', cursive;

}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.sess {
    scroll-snap-align: start;
    transition: 1s;
    background-image: url(images/sunset-1373171_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    font-family: 'Amatic SC', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: .5rem;
    padding-inline: 1rem;
    color: #f5f3f4;
}

.follow {
    text-align: center;
    margin-top: 2rem;
}

.name {
    position: relative;
    transition: all 1s;
    font-weight: 700;
    cursor: pointer;
}

.name:hover {
    transform: scale(1.3);
    transform: rotate(-5deg);
}

.name:hover::after {
    content: "";
    background-color: #f5f3f4;
    height: 1px;
    width: 105px;
    display: block;
    animation-name: line;
    animation-duration: .5s;
    position: absolute;
    transform: 1s;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

@keyframes line {
    from {
        left: -100px;
    }

    to {
        left: 0px;
    }
}

.own {
    font-weight: 700;
}

.own a {
    color: #f5f3f4;
}

.own:hover {
    transform: scale(1.3);
    transform: rotate(-5deg);
}

.switching {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    width: 25%;
}

label {
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.word {
    margin-right: .5rem;
    font-weight: 700;
}

.iconing {
    display: flex;
    align-items: center;
}

.iconing li{
    display: inline-block;
    margin-inline: .5rem;
}

.switch-clr {
    color: black;
    background: white;
}

:is(#twi, #envelope, #night) {
    transition: .4s;
    cursor: pointer;
}

:is(#twi, #envelope, #night):hover {
    transform: scale(1.5);
}

:is(.sess) h1 {
    font-size: 2em;
    font-weight: 700;
}

:is(.container, .sess) {
    height: 100vh;
    width: 100vw;
} 

.mid {
    height: 70%;
    width: 70%;
    margin-inline: auto;
}

.middle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    transform: scale(0);
}

.hit {
    font-size: 50px;
}

.sm {
    transform: scale(1);
}

:is(.socials) img:hover {
    transform: scale(1.5);
}

.btn {
    position: relative;
    display: inline-block;
    font-family: 'Amatic SC', cursive;
    padding: 1rem 2rem;
    color: white;
    background-color: transparent;
    border: 1px solid black;
    font-size: 2em;
    border-radius: 2px;
    cursor: pointer;
}

 .btn::after {
   position: absolute;
   content: "";
   width: 100%;
   height: 100%;
   left: 8px;
   top: 8px;
   border-radius: 2px;
   transition: all ease .4s;
   background-color: #212529;
   z-index: -1;
}

.btn:hover::after {
    top: 0;
    left: 0;
} 

/* fence */
.fence {
    font-family: 'Nunito', sans-serif;
    color: var(--regularWhite);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.container-box {
    /* width: 55%; */
    width: max(55%, 350px);
    margin-inline: auto;
    border: 1px solid rgba(255, 255, 255, 0.125);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    
}

.top {
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9ca3af;
}

.contain {
    padding-inline: 1.3rem;
}

.profile-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #9ca3af;
}

.last {
    border-bottom: none;
}

.profile {
    display: flex;
    gap: 12px;
}

.profile img {
    border-radius: 50%;
    border: 3px solid #9ca3af;
}

.pro-name p:nth-child(1) {
     font-weight: var(--fontWeight-);
}

.pro-name p:nth-child(2) {
    font-weight: var(--fontWeight-);
    color: var(--onlineFontColor);
}

:is(.available, .busy, .off)::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 7px;
}

.available::before {background-color: var(--chatBtncolor)}
.busy::before {background-color: var(--busyStatColor)}
.off::before {background-color: var(--offlineStatColor)}

.bttn {
    font-family: 'Nunito', sans-serif;
    padding: 7px 12px;
    color: var(--regularWhite);
    font-weight: var(--fontWeight-);
    font-size: 17px;
    background-color: var(--chatBtncolor);
    border-radius: 7px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.bttn:hover {
    background-color: #d4d700;
}

:is(.fa-paper-plane, .fa-message, .fa-eye) {
    font-size: 13px;
    margin-right: 8px;
}

.eyes {
    color: #3156d9;
    font-weight: 600;
    cursor: pointer;
}